<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Musical analyzing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

</head>
<body>
    <h1>Welcome to musical analyzing! Choose the musical you would like to see statistics for.</h1>
    <ul>
        {% for name, x in musicals.items() %}
            <li><a href="/songs?musical={{ x.name }}"> {{ x.name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>